# Úkol 10

## Povinná část

In [1]:
import pandas as pd

Uvažuj, že zpracováváš analýzu pro softwarovou firmu. Firma má kanceláře v Praze, Plzni a Liberci. Seznam zaměstnanců pro jednotlivé kanceláře najdeš v souborech zam_praha.csv, zam_plzeň.csv a zam_liberec.csv.

Načti data o zaměstnancích z CSV souborů do tabulek (DataFrame). Ke každé tabulce přidej nový sloupec mesto, které bude obsahovat informaci o tom, ve kterém městě zaměstnanec pracuje.

In [5]:
praha = pd.read_csv("zam_praha.txt",sep=",")
plzen = pd.read_csv("zam_plzeň.txt",sep=",")
liberec = pd.read_csv("zam_liberec.txt",sep=",")

praha["misto"] = "Praha"
plzen["misto"] = "Plzeň"
liberec["misto"] = "Liberec"

Vytvoř novou tabulku zamestnanci a ulož do ní informace o všech zaměstnancích (operace concat).

In [ ]:
zamestnanci = pd.concat([praha, plzen, liberec], ignore_index=True)
zamestnanci.head()

Ze souboru platy_2021_02.csv načti platy zaměstnanců za únor 2021. Propoj tabulku (operace join) s platy a tabulku se zaměstnanci pomocí sloupce cislo_zamestnance.

In [ ]:
platy = pd.read_csv("platy_2021_02.txt",sep=",")
platy.head()

In [23]:
zamestnanci_s_platy = pd.merge(zamestnanci, platy, left_on="cislo_zamestnance", right_on="cislo_zamestnance")
zamestnanci_s_platy.head()

      jmeno  prijimeni   telefonni_cislo  cislo_zamestnance  misto     plat
0     Brian       Hall  +421 949 656 098                 30  Praha  33500.0
1     Marta   Kolářová       730 456 163                 32  Praha  53000.0
2      John    Moravec       725 092 179                 33  Praha  38400.0
3  Dominika    Kopecká       722 747 626                 34  Praha  36800.0
4    Milada  Hernandez       773 373 704                 38  Praha  32600.0

Porovnej rozměry tabulek před spojením a po spojení. Pokud nemá některý zaměstnanec plat za únor, znamená to, že v naší firmě již nepracuje.

In [15]:
zamestnanci.shape

(56, 5)

In [16]:
platy.shape

(43, 2)

Spočti průměrný plat zaměstnanců v jednotlivých kancelářích.

In [17]:
zamestnanci_s_platy.groupby("misto")["plat"].mean()

misto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

Pokračuj ve své práci pro softwarovou firmu. Ze souboru vykazy.csv načti informace o výkazech na projekty pro jednoho vybraného zákazníka.

Načti data ze souboru a ulož je do tabulky.

In [18]:
vykazy = pd.read_csv("vykazy.txt",sep=",")
vykazy.head()

         date  hours project  emloyee_id
0  2021-02-01    2.5     F30          13
1  2021-02-01    3.4     W05          70
2  2021-02-01    2.1     JL9          72
3  2021-02-01    5.2     F30           3
4  2021-02-01    2.4     TE1          54

Proveď agregaci a zjisti celkový počet vykázaných hodin za jednotlivé projekty.

In [19]:
vykazy.groupby("project")["hours"].sum()

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64

## Bonusy

Ulož do proměnné počet zaměstnanců, kteří v naší firmě již nepracují.

V rámci úspory se IT oddělení rozhodlo prověřit licence přidělené zaměstnancům, kteří ve firmě již nepracují. Vytvoř samostatnou tabulku, která obsahuje jména zaměstnanců, kteří ve firmě již nepracují. Tabulku ulož do souboru CSV.

Propoj tabulku s výkazy s tabulkou se zaměstnanci, kterou jsi vytvořil(a) v předchozím cvičení.

Následně proveď statistiku vykázaných hodin za jednotlivé kanceláře, tj. spočítej celkový počet hodin vykázaný zaměstnanci jednotlivých kanceláří na projekty daného zákazníka.