# DÚ 8

In [1]:
import pandas

### Načtení dat

In [6]:
zvirata = pandas.read_csv("adopce-zvirat.txt", sep=";")

### Základní přehled o datech

Počet řádků a sloupců datového souboru:

In [9]:
zvirata.shape

(513, 6)

Názvy sloupců:

In [10]:
zvirata.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

Které zvíře se nachází na záznamu s indexem 34? Vypiš název tohoto zvířete v češtině a v angličtině.

In [12]:
zvirata.iloc[34][["nazev_cz", "nazev_en"]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

Adopce kterých zvířat je nejdražší?

In [26]:
podle_ceny = zvirata.sort_values(by=["cena", "nazev_cz"], ascending=[False, True])
podle_ceny.head(6)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
129,385,Hroch obojživelný,Hippopotamus,Savci,50000,1
128,381,Slon indický,Asian elephant,Savci,50000,1
272,897,Tygr malajský,Malayan tiger,Savci,50000,1
114,335,Tygr sumaterský,Sumatran tiger,Savci,50000,1
113,334,Tygr ussurijský,Siberian tiger,Savci,50000,1
135,396,Žirafa severní núbijská (= Rothschildova),Rothschild's giraffe,Savci,50000,1

Které zvíře je alfabeticky poslední v češtině?

In [16]:
podle_CZ_abecedy = zvirata.sort_values(by=["nazev_cz"])
podle_CZ_abecedy.tail(1)

       id     nazev_cz                nazev_en trida_cz  cena  k_prohlidce
371  1190  Žluva hajní  Eurasian golden oriole    Ptáci  1000            1

Které v angličtině?

In [19]:
podle_AJ_abecedy = zvirata.sort_values(by=["nazev_en"])
podle_AJ_abecedy.tail(1)

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
161,491,Frankolín žlutokrký,Yellow-necked francolin,Ptáci,1000,1