# Úkol 9 - bonusy

In [3]:
import pandas
import pytemperature

In [2]:
teploty = pandas.read_csv("temperature.txt",sep=",")

## Bonus 1

Zkus si vytvořit nový sloupec, který bude obsahovat průměrnou templotu ve stupních Celsia.

In [ ]:
teploty["AvgTemperatureCelsia"] = pytemperature.f2c(teploty["AvgTemperature"])
teploty

Dotaz na měření, ve kterých je teplota (sloupec AvgTemperatureCelsia) vyšší než 30 stupňů Celsia.

In [ ]:
teploty[teploty["AvgTemperatureCelsia"] > 30]

Dotaz na měření, ve kterých je teplota vyšší než 15 stupňů Celsia a současně bylo měření provedeno v regionu (sloupec Region) Evropa (Europe).

In [ ]:
teploty[(teploty["AvgTemperatureCelsia"] > 15) & (teploty["Region"] == "Europe")]

Dotaz na extrémní hodnoty, tj. měření, ve kterých je teplota vyšší než 30 stupňů Celsia nebo menší než -10 stupňů. Jsou některé hodnoty podezřelé?

In [ ]:
teploty[(teploty["AvgTemperatureCelsia"] > 30) | (teploty["AvgTemperatureCelsia"] < -10)]

Podezřelé jsou mínusové průměrné teploty v Africe.

## Bonus 2

Dotaz na řádky z 13. listopadu 2017 (sloupec Day musí mít hodnotu 13).

In [ ]:
teploty[teploty["Day"] == 13]

Dotaz na řádky z 13. listopadu 2017 ze Spojených států amerických (sloupec Day musí mít hodnotu 13 a sloupec Country hodnotu US). Výsledek dotazu si ulož do nové tabulky a použij ji jako vstup pro následující dotaz.

In [ ]:
US_13 = teploty[(teploty["Day"] == 13) & (teploty["Country"] == "US")]
US_13

Pro data z předchozího dotazu napiš dotaz na řádky ve městech (sloupec City) Washington a Philadelphia.

In [12]:
US_13[US_13["City"].isin(["Washington","Philadelphia"])]

,Region,Country,City,Day,AvgTemperature,AvgTemperatureCelsia
4872,North America,US,Washington,13,45.2,7.33
4902,North America,US,Washington,13,45.2,7.33
7572,North America,US,Philadelphia,13,41.7,5.39

V souboru jsou duplicity?